/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: grey;
}

/* Navbar links */
#navbar li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
}

.arrow-togglable {
  color: white;
}

/* Page content */
.content {
  padding: 20px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* footer */
#footer {
  overflow: hidden;
  background-color: #242729;
}

/* footer li */
#footer li {
  float: left;
  display: block;
  text-align: left;
  padding: 14px;
  font-family: Arial, sans-serif;
  font-size: 80%;
  color: white;
  border-right: solid white 1px;
}

#footer li:last-child {
    border: 0px;
}
